[2016-09-26 05:38] SunDwarf opened #1 "using js"

[2016-09-27 03:54] sr229 commented on #1
?

[2016-10-05 05:18] sr229 commented on #1
nice issue.

closed.

[2016-10-05 05:18] #1 closed

[2016-10-05 05:19] TheBITLINK opened #2 "using d.js"

[2016-10-05 05:23] sr229 commented on #2
seriously.

[2016-10-05 05:23] #2 closed

[2016-10-05 05:52] SunDwarf commented on #1
ty I try

[2016-11-05 18:55] sr229 opened #7 "[New Feature] Anime Command"
**Functions**
- [ ] able to search the percise Anime from keyword
- ~~has a async function if query is taking long~~ express solves that lmao

**Implementation**
- [ ] MAL Integration
- [ ] a extensible command module

[2016-11-06 03:44] sr229 opened #8 "Help is somehow showing undefined names and descriptions"

[2016-11-07 04:10] sr229 opened #9 "osu! Stats checker is not functioning + Improvements"
**Proposed changes after bugfix**
-  [x]  parse avatar from http://a.ppy.sh
-  [x]  use a better formatting (``util`` can be used) for text display

[2016-11-07 04:12] sr229 opened #10 "[New Feature] Music Command"
**TODO**
- [ ]  Simple Play and Pause Command
- [ ]  use ffmpeg instead of opus for cross-compatibility
- [ ] implement a skip/stop function (add voting system to it to promote fairness, Bot Owners should be exempted from this.)

[2016-11-07 04:17] sr229 opened #11 "[Ported Feature] Moderation commands"
for those lazy twats who can't do role-changing and banning and kicking themselves

**TODO**
- [x] Mention-to-ban/kick/mute system (Partial : 2 out of 3 functions implemented)
- [ ] Mention-to-add/remove role
- [x] go awau (optional)

[2016-11-07 06:01] Ovyerus commented on #10
Coming in the refactor uwu

[2016-11-08 02:41] sr229 commented on #10
:eyes:

[2016-11-08 13:54] SunDwarf commented on #7
petition to make command name `generic weeb command`

[2016-11-09 07:19] sr229 commented on #8
fixed

[2016-11-09 07:19] #8 closed

[2016-11-16 00:37] sr229 commented on #11
Already handled on refactor, Closed.

[2016-11-16 00:37] #11 closed

[2016-11-16 00:37] sr229 commented on #7
Fixed on refactor. Closed.

[2016-11-16 00:37] #7 closed

[2016-11-16 09:11] Ovyerus commented on #9
Fixed in #21

[2016-11-16 09:11] #9 closed

[2016-11-16 13:11] Ovyerus opened #22 "Owner/Bot Admin commands"
TODO: Various commands for the bot owner and admins.

- [x] Dynamic command load and unloadncommands, and maybe a JSON file to keep track of unloaded commands to make the command loader skip them.

- [x] Blacklist commands

- [x] Commands to add/remove admins.

- [x] Commands to add/remove alternative prefixes.

[2016-11-18 10:54] sr229 opened #23 "Search Feature using Bing API"
TODO :
-  [x]  Node.js extension to ease up devel
 - [x] XML2JS parser(?)
-  [ ] return ONLY the first search term
-  [ ] Promise for error handling.

[2016-11-19 02:18] sr229 opened #24 "osu!Stats crashes on undefined users"
Stacktrace :

[code]

[2016-11-20 08:29] Ovyerus commented on #24
Fixed in #21

[2016-11-21 05:49] sr229 opened #25 "Command restriction isn't working"
***Reproduction steps**:

- use a command with adminOnly bool.

**Expected behaviour**

- it should block it but instead allows the command to be run regardless if their snowflake is in ``data.json``

[2016-11-21 05:51] sr229 opened #26 "Ovy is cute w"
awau

[2016-11-21 06:16] sr229 commented on #23
Deprecated. Will use Google instead

[2016-11-21 06:16] #23 closed

[2016-11-21 08:01] Ovyerus commented on #25
Fixed in #21

[2016-11-21 08:01] #25 closed

[2016-11-22 01:55] sr229 opened #27 "[New?] Pay Respects Command"
only a meme would do this

**TODO** :
- [x] command for it obviously
- [x] memes
- [x] even more memes

[2016-11-22 02:16] sr229 commented on #27
that was quick

[2016-11-22 02:16] #27 closed

[2016-11-24 14:09] sr229 opened #28 "Add a way to control the PM2 session of the bot process in commands"
### TODO :
- [ ] Command System (with admin restriction)
- [ ] async?

[2016-11-25 10:10] sr229 opened #29 "Greet system"
this is a voluntary job, please assign yourself if you want to work with it

### TODO :
- [x] A Greet Disable/Enable which is unique for each server (yes, this is not a global command and more guild-specific)

- [x] add a way to automatically detect (and disable the greet system) on Discord Developers' Servers (Discord API, Discord Bots and Discord Developers)

you can whitelist a bot collection s

[2016-11-25 10:25] sr229 opened #30 "Scaling (Sharding)"
THIS IS HIGHLY REQUIRED BECAUSE THE BOT IS NOW AT 20 GUILDS!

no need for todos, just read the d.js docs to get it functional

[2016-12-07 04:51] sr229 opened #31 "Command parser should overwrite an existing command, not dispose the newer one"
this is a problem associated when the bot is ran not first-time

some of this commands work on first-time usage but doesn't work on our public host VPS (Nodetori).

### TODO :

- [ ] instruct the parser to always overwrite the command object, not dispose it.

[2016-12-07 04:56] sr229 commented on #24
Issue still persists on public bot. Reopening

[2016-12-17 07:35] sr229 opened #32 "Symbol iterator is somehow undefined"
## Error type
TypeError

## Summary
[code]
## Stacktrace

[code]

[2017-01-08 11:39] Ovyerus commented on #32
Fixed in #21

[2017-01-08 11:39] #32 closed

[2017-01-08 11:40] Ovyerus opened #33 "Port to Eris"
### TODO-a-fuckton-list 9000
- [ ] Rewrite commands (Music is the most painful)
- [ ] dereference d.js from everything and use Eris methods/functions.
- [ ] smoke weed xX420BlazEiTxX

[2017-01-08 14:36] sr229 commented on #24
Re-Closing, Issue might have been fixed now

[2017-01-08 14:36] #24 closed

[2017-01-08 14:36] sr229 commented on #31
seems to have fixed somehow but #32  popped up (which was fixed)

closed.

[2017-01-08 14:36] #31 closed

[2017-01-08 15:58] sr229 commented on #28
won't really be needed

closed.

[2017-01-08 15:58] #28 closed

[2017-01-08 16:07] sr229 commented on #33
added TODO list

we on boiz

[2017-01-09 00:07] Ovyerus commented on #33
Done in #21

[2017-01-09 00:07] #33 closed

[2017-01-09 01:17] Ovyerus commented on #30
Eris has built-in shard support and it is not currently not needed.

[2017-01-09 01:17] #30 closed

[2017-01-10 23:35] sr229 opened #34 "Cleverbot API auth returns invalid when refering fields from config.json"
usually this would cause the bot to error out and loop

[2017-01-13 03:29] sr229 opened #35 "Add more Mari memes"
:eyes:

[2017-01-13 03:29] #34 closed

[2017-01-13 03:41] sr229 commented on #35
Closed.

It's Joke!

[2017-01-13 03:41] #35 closed

[2017-01-18 14:08] sr229 opened #36 "Eris Version needs updating"
since we have changed some code to be in par with a breaking version of Eris, we should bump the version of Eris in ``package.json`` to be in par with the changes

[2017-01-18 14:32] sr229 commented on #36
Unecessary since we use the Git Snapshot of Eris

Closed.

[2017-01-18 14:32] #36 closed

[2017-01-23 11:27] sr229 opened #37 "Impose a 60 requests/ 60 sec limits for osu! Commands"
![image](https://cloud.githubusercontent.com/assets/14976516/22202182/e92c2734-e1a1-11e6-8093-cde0788e66c4.png)

[2017-02-11 07:32] sr229 opened #38 "Test ticket from Code Climate"

[2017-02-11 07:36] #38 closed

[2017-02-17 12:37] sr229 opened #39 "Bot Crashes when Music Queue's Size reaches 3"
Known to crash when you queue a song and it reaches position 3

No Debug info or crash log yet

UPDATE: also happens when Bot is about to play the 3rd song, seems to be the ctx.msg.author returning undefined again 😖

UPDATE2: suspected this loop is causing it
![image](https://cloud.githubusercontent.com/assets/14976516/23065993/363a917c-f553-11e6-9105-eafaa4c82e2d.png)

[2017-02-17 14:03] sr229 opened #40 "Bot cuts Music halfway through a song"
Happens on Nodetori's Music (and Beta too)

[2017-02-21 05:13] sr229 commented on #10
Closed because Milestone has been completed

[2017-02-21 05:13] #10 closed

[2017-02-21 05:14] sr229 commented on #22
mfw this never happened (except for prefixes)

[2017-02-21 05:49] Ovyerus commented on #22
Music got me sidetracked, and I may need to modify the command loader for dynamic command loading.

[2017-02-21 22:27] sr229 opened #43 "Milestone 2 : 0.2.1"
This is a Minor milestone. Probably only fixes and such

### TODO
- [x] fix remaining broken commands
- [x] add support for other Music Hosts , including Discord CDN links

[2017-02-26 07:58] Ovyerus commented on #39
Fixed.

[2017-02-26 07:58] #39 closed

[2017-02-26 07:58] Ovyerus commented on #40
Has not happened in current testing. Closing.

[2017-02-26 08:57] sr229 opened #46 "SoundCloud, Discord CDN and Other Sources for Music Support"
Long-Requested Feature since Pre-test Alpha

[2017-02-26 09:46] sr229 commented on #46
I don't think we can support that right now due to the complexity of the such work but that may be on Backlog.

As long as there's only two twats working on Clara, this may never happen.

[2017-02-26 23:06] Ovyerus commented on #46
As long as I can get access to said stream through some sort of API or module, implementation would be possible and somewhat easy, however I have concern for the possibility of them being unstable and people queueing them and then forgetting and leaving, while the bot is using memory and CPU for no reason.

[2017-02-27 05:35] HexadecimalPython commented on #46
A checks for if there are users in the voice channel and is not deafened should do the job for that.
If there are no voice members it pauses the receiving of the stream (which should make it pickup to where the stream is upon resuming) and after a set amount of minutes or hours it auto disconnects.

[2017-02-28 02:48] Ovyerus opened #47 "Music sometimes doesn't register objects into the collections."
I have noticed during my testing, that occasionally when the bot joins a voice channel, nothing gets added to the appropriate music collections, resulting in the bot thinking that it isn't in a voice channel, and therefore not playing anything.

[2017-02-28 03:01] sr229 commented on #47
Somehow this issue is related to #39 during the Pre-Alpha Testing.

[2017-02-28 10:15] Ovyerus commented on #47
Fixed in latest changes.

[2017-02-28 10:15] #47 closed

[2017-03-03 02:16] sr229 commented on #46
I bealieve youtube-dl supports SC and other sauces rightout the box, we should use that since it uses a similar syntax to ytdl-core

[2017-03-03 02:19] sr229 opened #48 "Moderation Extension: Clean Command"
yeah, sometimes we need a little bit of cleaning.

#### Proposed
- [x] Basic Functionality
- [x] pass args on which to clean (Guild Admin only command, for example ``k.clean bots`` would clean anything bots, additing an additional integer for example ``k.clean bots 10`` would clean the most recent 10 messages from bots)

[2017-03-03 06:50] Ovyerus commented on #48
Name it `purge` or `prune` because I plan on implementing bot only purging and calling it `clean`. Also you can pull and adapt this from knife-bot if you wish.

[2017-03-03 07:01] sr229 commented on #48
that would require tedious amounts of refactoring though

[2017-03-03 14:17] sr229 commented on #48
Milestone Done. Closing

[2017-03-03 14:17] #48 closed

[2017-03-04 03:59] Ovyerus commented on #46
SoundCloud and Clyp support has been added in 47e4dd077e584386232570ae93e8ceddc1cf957b - 00abc46170acc3bcc49c9458a78b19747e172b31

[2017-03-04 10:12] Ovyerus commented on #46
Twitch stream support added in 8843ee1294c905b73403dfed4f88cd3cbbdcae5c

[2017-03-04 10:12] #46 closed

[2017-03-05 09:03] Ovyerus commented on #29
:thinking: do we really want this

[2017-03-06 07:27] #43 closed

[2017-03-07 02:16] sr229 opened #49 "Multi-Language"
Prior to our upcoming meme in March 25-April 1, [il8n](http://i18next.com/) will be supported for multi language support.

### TODO :
- [x] add a way to track each guild's own locale for the bot. Also set a global one.
- [ ] Japanese Translation (we already know why we're doing this)
- [x] Remember that talk with TripingPC regarding porting Kizuna Ai to Discord?

[2017-03-07 02:19] sr229 opened #50 "Milestone 0.2.2"
This is set for release before April 1.
This is another Major Release

### TODO :
- [x] inclusion of il8n for locales
- [x] March 25th meme awau

[2017-03-07 02:23] GusCaplan commented on #49
weeee i know how to do this

[2017-03-07 02:23] sr229 commented on #49
A wild snek appeared :eyes:

[2017-03-07 07:21] Ovyerus commented on #49
Will require a database to store guild locales, and maybe user languages ~~totally not ripping off Ayana or anything :eyes:~~

[2017-03-07 07:22] sr229 commented on #49
as long it's Rethonk we're good

~~Ayana doesn't use i18n~~

[2017-03-09 11:37] DasWolke commented on #49
~~rem does~~ °^°

[2017-03-09 23:38] sr229 commented on #49
o

~~Rem is shit tho~~

[2017-03-10 16:24] DasWolke commented on #49
👀

[2017-03-10 16:35] GusCaplan commented on #49
sh~~o~~its fired

[2017-03-17 00:27] sr229 opened #52 "Music cannot play longer than 2hrs music"
most common error to see is ``stdout maxBuffer Reached``

[2017-03-17 06:58] Ovyerus commented on #26
o

[2017-03-17 11:12] Ovyerus commented on #52
Not much I can do about `stdout maxBuffer Reached` and my code is so much of a mess that I'll most likely need to rewrite it.

[2017-03-17 11:23] Ovyerus commented on #37
Will add in next version (0.3.0) with rewrite of command handler to use as an opportunity to clean up code in the process.

[2017-03-18 11:01] sr229 opened #53 "nya"
nya

[2017-03-18 11:04] #49 closed

[2017-03-18 11:05] #50 closed

[2017-03-19 01:17] Ovyerus commented on #29
Added in 60329f1

[2017-03-19 01:17] #29 closed

[2017-03-19 06:47] Ovyerus commented on #53
nya

[2017-03-20 14:43] sr229 opened #59 "Finalize awwnime"

[2017-03-21 02:59] islacantwin commented on #53
nya~

[2017-03-22 23:43] sr229 commented on #40
Reopened since issue persists

[2017-03-28 06:01] sr229 commented on #40
Reassigned to 0.3.0

[2017-03-29 10:44] sr229 opened #60 "allow playing Soundcloud PLaylists, EPs, Albums"
Self Explanatory

[2017-03-29 14:14] Martmists-GH commented on #53
Nya~

[2017-03-30 10:30] sr229 opened #61 "Music Queueing is slow"

[2017-03-30 18:11] sr229 opened #62 "Bot cannot handle more than 2 concurrent VC connections for Music"
this causes instability and crashes the bot due to OOM

[2017-03-30 18:12] sr229 commented on #53
nya

[2017-03-30 18:12] #53 closed

[2017-03-30 18:14] sr229 commented on #59
Command is finalized

[2017-03-30 18:14] #59 closed, assigned to sr229

[2017-04-01 07:18] #62 closed, assigned to nobody

[2017-04-01 07:20] sr229 opened #63 "Bot when performing Music eats too much Memory"
we need consider hosters with less than 500MB RAM (Like our Azure host, but 100MB more) sinc ethe current implementation leaks memory faster than Danny ninja-banning

[2017-04-04 10:43] sr229 opened #65 "Anyone can stop a playlist regardless it's the summoner or not"
``stop`` should be reserved for summoners and guild admins/mods. However in 0.2.2, we can stop regardless you're the summoner or not

[2017-04-06 16:35] sr229 opened #66 "RethinkDB Configuration seems to be not so beginner-friendly for a selfhoster"
Because the lack of a preconfigured setting for RethinkDB, selfhosters who are new to the Framework would have problems running the bot.

We should be able to provide a preconfigured setting for Rethink if no custom options were supplied in config

[2017-04-06 16:37] sr229 commented on #60
Backlogged

[2017-04-06 16:38] sr229 commented on #22
Backlogged

[2017-04-07 02:25] sr229 opened #67 "[Confirmed] ReThink does not create a new pool at localhost"

[2017-04-07 02:28] Ovyerus commented on #67
Production is running with default connection settings to localhost. Invalid

[2017-04-07 02:28] Ovyerus commented on #67
Needs steps to reproduce.

[2017-04-07 02:30] sr229 commented on #67
Can be easily reproduced with a copy of Clara in a machine without RethinkDB
would crash the bot with this on stacktrace
[code]

[2017-04-07 02:32] Ovyerus commented on #67
If the machine does not have Rethink, then that is an end user fault and not a problem with our code

[2017-04-07 02:44] #67 closed, assigned to sr229

[2017-04-07 02:44] #66 closed, assigned to sr229

[2017-04-07 05:38] #22 closed

[2017-04-12 06:24] sr229 opened #68 "Fallback to Volatile Eris Collection if Rethink is not present."
although it has some caveats, it should work for selfhosts who can't even get Rethink working

[2017-04-12 06:26] sr229 commented on #68
One perfect example of this are Heroku deploys

[2017-04-12 06:34] Ovyerus commented on #68
After music.

[2017-04-23 23:55] Ovyerus commented on #52
`stdout maxBuffer reached` should now be fixed with the removal of using youtube-dl. 2 hour videos+ have not been tested

[2017-04-23 23:57] Ovyerus commented on #61
Can't really be fixed as the bot fetches data for each song when it queues it.

[2017-04-23 23:57] #61 closed, assigned to nobody

[2017-04-29 05:00] Ovyerus opened #69 "Minor memory leak"
Appears to be some minor memory leak somewhere, as memory usage grows from 70mb to 100mb over the course of 2 days. May be related to music however memory usage stays the same even with no queues and music unloaded. Will investigate further.

[2017-04-29 05:27] #60 closed, assigned to nobody

[2017-04-29 05:27] Ovyerus commented on #40
Appears to have been fixed

[2017-04-29 05:27] #40 closed

[2017-04-29 05:27] #52 closed

[2017-04-29 05:28] sr229 commented on #69
Related to #63

[2017-04-29 05:29] sr229 opened #70 "automatically scrape new tokens for SC if no SC token present"
we're gonna need ytdl for this AFAIK

[2017-05-02 03:53] Ovyerus commented on #68
Due to the reliance on functions which are only available in RethinkDB, this may not be possible (and storing data that's meant to be preservered, in collections is kinda pointless).

[2017-05-03 09:30] sr229 opened #71 "0.3.0 Road Map"
This would be our Milestone tracker so we know what the fuck are we doing.

- [x] Music Improvements
- [x] Chatbot Improvements. Context Aware chains integration or similar.
- [x] Fix performance issues, particularly the memory leak

Add more if needed.

[2017-05-03 13:59] H3xadecimal commented on #71
Fix the fucking memory leak.

[2017-05-03 14:11] sr229 opened #72 "Extend Moderation"
### TODO :
- [x] add the ability to ban/kick users by just typing username/UserID
- [x] Unban

[2017-05-10 09:00] sr229 opened #73 "Phase out Rethink?"
Due to little/no support from most known PaaS services, RethinkDB is no longer fit for usage on this bot.

[2017-05-11 01:05] sr229 commented on #68
Closing since we'll phase out Rethink

[2017-05-11 01:05] #68 closed, assigned to sr229

[2017-05-19 11:34] Ovyerus commented on #65
Happens with all other bots and no one complains. ¯\_(ツ)_/¯

[2017-05-20 02:03] Ovyerus commented on #70
Closed in 2d445d61b8da210c0fac97380891a2f2b2744b76

[2017-05-20 02:03] #70 closed, assigned to sr229

[2017-05-23 09:59] #63 closed, assigned to nobody

[2017-05-23 10:00] Ovyerus commented on #69
Most likely just caching

[2017-05-23 10:01] Ovyerus opened #74 "Bot randomly jumps voice channels."
When the bot is supposed to leave a voice channel due to timeout or tries to reseed connections after a reboot, the bot sometimes randomly changes the channel it is in. Could be a lib issue or Discord issue as I cannot reliably recreate this.

[2017-05-25 03:40] sr229 commented on #74
I think this is on the bot's code not on the library. We have several Eris bots not having this issue. We cannot tell though since we use the Git Snapshot of Eris.

[2017-05-30 11:15] sr229 opened #75 "Resolve to chatbot mode if there is no command present with such keyword."

[2017-06-02 11:39] sr229 opened #76 "pretty print and show progress of commands' dependencies"
currently our dependency listing is on one line, we should show them on multiple lines and show progress for installation of each dependency

[2017-06-02 12:35] Ovyerus commented on #76
Doubt we can do progress bars easily without some shitty bloated module and its not really needed anyway.

[2017-06-02 16:38] sr229 opened #77 "Info would try to get the colour of the bot's role even if it has no roles"
this crashes the bot when role color is undefined

[2017-06-03 10:23] #73 closed, assigned to nobody

[2017-06-08 16:05] sr229 commented on #65
I do.

[2017-06-20 15:17] sr229 opened #78 "Use redis for caching stuff"
At this point, the way we cache stuff is causing memory issues. I think the only way to resolve this is to force redis caching for SoundCloud/YT caches

[2017-06-27 04:12] #75 closed, assigned to sr229

[2017-06-27 04:18] sr229 commented on #71
update: think we fixed some parts of the bot that causes some of the leaks. We believe the crux of this is the caching system.

[2017-07-04 00:24] #77 closed, assigned to nobody

[2017-07-10 08:04] Ovyerus commented on #69
Traced down to being caching, as we cache both guild and user data. This has started happening on Knife Bot v2 and there isn't really much we can do other than moving database to one for caching such as Redis.

[2017-07-11 01:08] sr229 opened #80 "Moderation is broken"
After 0.3.0 rewrite, Moderation seems broken. I t does not respond to the commands.

[2017-07-11 01:08] #71 closed, assigned to sr229

[2017-07-11 04:04] sr229 commented on #37
ovypls

[2017-07-11 04:26] Ovyerus commented on #26
~~this isn't an issue tbh~~

[2017-07-11 04:45] sr229 commented on #26
no u

[2017-07-13 05:15] sr229 opened #81 "Subcommandify Greetings"
Ovy you wrote this you piece of wank

[2017-07-13 05:27] sr229 commented on #69
Reopnening since it's now part of task for 0.4.0 Ravishing Riko to switch to Redis

[2017-07-13 05:30] sr229 opened #82 "Goodbye Messages"
- [x] Initial Implementation
- [x] Bugfix

[2017-07-15 11:00] Ovyerus commented on #72
I'm gonna leave this until 0.4 ~~so I can be lazy and just copy/paste code from Knife Bot~~ so its easier to manage and so that I can easily port Knife Bot's lookups module.

[2017-07-15 12:03] #81 closed, assigned to nobody

[2017-07-16 06:30] Ovyerus commented on #76
Yea can't find any real way to do this.

[2017-07-16 06:30] #76 closed, assigned to nobody

[2017-07-16 10:06] #37 closed

[2017-07-17 04:50] sr229 commented on #78
Assigned to 0.4.0

[2017-07-18 09:02] #65 closed, assigned to nobody

[2017-07-20 05:10] sr229 commented on #82
Implementation complet

how2testkthximboredovypls

[2017-07-20 05:20] sr229 commented on #72
Jumped to 0.4.0

[2017-07-22 16:03] #82 closed, assigned to sr229

[2017-07-25 04:19] sr229 opened #83 "[x-BugReport] Soundcloud Playlist bug"
![image](https://user-images.githubusercontent.com/14976516/28555594-8d801478-7133-11e7-983b-9f6f3a43d703.png)

[2017-07-28 04:27] sr229 opened #84 "leetspeak's dependencies fails to resolve properly"
Logs from NPM
[code]

[2017-07-28 04:45] sr229 opened #85 "a eval-like Calculator command"
For asians like me.
Package reference: https://www.npmjs.com/package/calculator

[2017-07-30 07:15] #84 closed, assigned to nobody

[2017-07-31 00:58] sr229 opened #86 "White House Petition API integration"
idk for memes

blame trump

[API Reference](https://petitions.whitehouse.gov/developers)

[2017-07-31 02:00] Greek commented on #86
why
is
this
added
lol

[2017-07-31 02:00] Greek commented on #86
u meme

[2017-08-01 15:49] sr229 opened #87 "Command auto-reloading and snapshotting"
This is a new specification for Clara's Command Holder. Designated as Command Holder Revision 3 slated for 0.5.0 Sparkling Satania.

### The Autoreload system

The command holder inspects a command folder's contents and if it sees a file change on the main file or it's dependents, it enforces a hot auto-reload. This should be only logged at the console and silent from the Discord side.

### Snapsh

[2017-08-01 15:52] sr229 opened #88 "Python-based Music Handler"
After too many frustrations over the Music module which is currently in pure JavaScript, it is evident we had to use another language for Music. Python was foresaw as it had more better performance at music-related requests.

### TODO
- [ ] a purely python music handler.
- [ ] An Abstraction or "Bridge" for the handler to interact with.

[2017-08-01 15:54] Ovyerus commented on #88
rip my efforts

On 2 Aug 2017 01:52, "Capuccino" <notifications@github.com> wrote:

[2017-08-02 05:46] Greek opened #89 "lets make the bot run brainfuck scripts"
Kappa.

[2017-08-02 05:46] sr229 commented on #89
thonk

[2017-08-02 05:47] sr229 commented on #89
pls dont

[2017-08-02 05:47] #89 closed, assigned to nobody

[2017-08-04 05:01] sr229 commented on #88
THose who volunteered during dicussion are added to assignees (except for ovy)

[2017-08-04 07:09] Ovyerus commented on #88
What clear advantages does this have over a native music system?

[2017-08-04 07:12] sr229 commented on #88
probably more optimized than our current one @Ovyerus

[2017-08-09 13:40] sr229 commented on #87
Please be noted we'll handle the snapshots under a different class named Snapshotter. This would be the module that the CommandHolder would dump the previous version of the command object after it has hot reloaded the latest revision. Only allow one copy of the object per command

[2017-08-16 03:55] sr229 opened #90 "Fix broken invite links and locale strings"

[2017-08-16 04:06] sr229 opened #91 "Use async on some commands"
since we'll be supporting async for 0.4.0, we should make a list of those commands that need to use async explicitly

### Checklist

Add the commands that need to use async explicitly here

[2017-08-16 08:27] Ovyerus commented on #91
Commands needing async:
 - all of them

:^)

[2017-08-16 11:44] H3xadecimal commented on #91
Correction: Use async for everything.

[2017-08-16 14:57] Greek commented on #91
async is the future

[2017-08-19 14:04] sr229 opened #92 "Chatbot"
Currently, i have added the CS20SI Chatbot source from Stanford. There are problems with it though, the folowing checklists has been made to indicate if you fixed them.

- [ ] Chatbot core has to be refactored to dynamically train while chatting.
- [ ] Make it independent from the Cornell corpus

[2017-08-20 05:59] sr229 opened #93 "Update Bot to new Prescence update"

[2017-08-21 05:22] sr229 opened #94 "Allow Clara's framework to be redistributed as a independent package"
since we have modularized the bot as seperate classes, we should modularize it so it works as a actual framework for bots.

- [ ] refactor commandHolder to load commands outside of its dir
- [ ] redo some stuff
- [ ] package as a NPM library

[2017-08-22 11:04] sr229 opened #97 "Ship does not allow spaced names"
you get the idea

![image](https://user-images.githubusercontent.com/14976516/29562636-ba2c9c0e-876c-11e7-89aa-caa0cf34e75d.png)

[2017-08-26 09:52] sr229 commented on #92
Adding this too

- [ ] Merge data processor, Chatbot Model and main file in one class in JS rewrite

[2017-08-26 09:56] sr229 opened #100 "Wolke API"
bcos Wolke a cute

[2017-08-29 13:55] sr229 commented on #26
it's an issue now

[2017-09-08 04:10] sr229 opened #103 "v1.0.0 Command Structure"
since the inception of this project, we've used the chalda/DiscordBot layout for making commands, which is

[code]
However there's limtiations on this implementation

- we can't use numbers in declaration names for export objects
- it does not encourage clean code.

so to improve this, we'll be doing a class-based approach instead of the export object approach we usually adopted.

[code]
this is u

[2017-09-08 04:12] sr229 commented on #103
CC @Ovyerus for your feedback

FYI for Karen maintainers, you don't need to implement this, feel free to use cogs and stuff or equivalent

[2017-09-08 04:49] sr229 commented on #94
nvm we have hibiki for this

@noud02  is cute

[2017-09-08 04:49] #94 closed, assigned to nobody

[2017-09-08 05:12] Ovyerus commented on #103
Exactly what I was thinking.

[2017-09-15 01:08] sr229 commented on #92
@Ovyerus you meme I need updates

[2017-09-17 08:56] sr229 commented on #26
nya

[2017-09-17 09:02] Martmists-GH commented on #26
Heck

[2017-09-17 09:05] Ovyerus commented on #26
o

[2017-09-17 09:07] sr229 commented on #26
heck am very wet

[2017-09-17 09:53] H3xadecimal commented on #26
das lood dood

[2017-09-17 09:54] H3xadecimal commented on #26
Not my project but i agree with ovy, this isn't an issue.

[2017-09-17 13:32] sr229 commented on #26
nou dun close we need this to contemplate how gya ovy is

[2017-09-17 15:58] Greek commented on #26
@Acreos is cute

[2017-09-22 19:16] sr229 opened #106 "[CommunityRequest] Role management system"
As per request of the Kinmosa Discord, slated and planned for 0.4.0, for backporting to 0.3.4.

Here's what they want, which we can add to mainline Clara

![image](https://user-images.githubusercontent.com/14976516/30760623-78a16e5e-a00d-11e7-8e86-8086b36fa369.png)

Basically bootleg Dyno role management system but with more emasculation.

[2017-09-25 01:16] sr229 commented on #106
@Ovyerus kindly sprint this btw

[2017-09-27 12:21] DiscoPangolin commented on #106
yes

[2017-10-01 09:03] sr229 commented on #106
Sprinted to 0.4.0

[2017-10-01 09:04] sr229 commented on #106
you're still assigned @Ovyerus tho

[2017-10-01 09:04] Ovyerus commented on #106
🏃

[2017-10-03 03:58] sr229 opened #115 "Convert Bot from Monolithic arch to a Microservice based."
This is a backlog issue that we want to agile in a later date.
No, we're not turning Clara into Ayana, reason for this is we implemented a really monolithic system, with the bot being the Kernel with hot swappable modules.

We want to split everything  as following:

- `` Gateway`` for bot connections.
- `` Core`` for the actual bot Core (utilities, main class, etc.).
- ``cmd`` for commands.

thou

[2017-10-03 04:00] sr229 commented on #92
Put this on hacktober Agile TODO for Clara. Due date is until the end of the month.

[2017-10-03 04:07] sr229 opened #116 "Unlaoded commands from previous versions is not acknowledged by a succeeding version"
This is a recurring issue atm for Clara since it doesn't acknowledge the previously written JSON for unloaded commands

[2017-10-04 03:23] #116 closed, assigned to sr229

[2017-10-04 03:48] sr229 opened #118 "Revert music dep to ytdl instead of ytdl-node"
@noud02  previously mentioned that we there is a workaround for the ``stdoutmaxBuffer Reached`` error, we can use that again. We would need some more test cases about this tho since 0.2.x has alot of issues with ytdl

[2017-10-06 09:56] #97 closed, assigned to nobody

[2017-10-06 09:57] Ovyerus commented on #118
Isn't it better to use a native module than an external bin?

[2017-10-06 10:07] #93 closed, assigned to sr229

[2017-10-06 10:21] Ovyerus commented on #88
I don't really think this is a good idea. Node has been shown to be faster than Python. Also I'm not sure how'd it be handled ~~inb4 IPC or RPC~~, and it would just be easier to optimise our current implementation.

[2017-10-06 10:56] Martmists-GH commented on #88
Node is faster, but generally requires better hardware to work properly, which is why I'm assuming we'll want to use Python.

[2017-10-06 10:56] Ovyerus commented on #88
Yeah, but we're already using Node to begin with.

[2017-10-06 13:06] sr229 commented on #118
ytdl provides us more easier extensibility compared to the natove one so I say we should give it another go

[2017-10-06 13:07] sr229 commented on #88
Reason behind this is the handler we currently have is very unoptimized and buggy so its better we use a host lang like Py and provide a IPC bridge instead

[2017-10-07 00:27] Ovyerus commented on #88
Fixing and optimisation exists /shrug

[2017-10-07 02:29] sr229 commented on #88
@Ovyerus it's stil lunoptimized :v

[2017-10-07 06:37] Ovyerus commented on #88
Time™

[2017-10-07 06:43] Ovyerus commented on #86
but y

[2017-10-07 07:05] sr229 commented on #86
im bored ok

[2017-10-07 07:13] sr229 commented on #83
@Ovyerus you might look into this one fter 0.4.0 is sufficiently fixed core-wise

[2017-10-07 16:31] Greek commented on #86
old meme
closing
not

[2017-10-08 03:48] Ovyerus commented on #83
Fixed by accident in b71286071f7fd568b9c168050033c27cfb4631c4 (I think)

[2017-10-09 03:44] sr229 commented on #83
not marked as fixed until it has been ported to ``lts``

[2017-10-09 03:45] Ovyerus commented on #83
🅱

[2017-10-11 08:53] Ovyerus commented on #118
We literally use it for just the one thing in its name.

[2017-10-11 09:08] sr229 commented on #118
I'll download you

[2017-10-11 09:09] Ovyerus commented on #118
Nice

[2017-10-17 07:09] sr229 commented on #86
Trump is gya

[2017-10-17 07:09] #86 closed, assigned to nobody

[2017-10-26 08:52] sr229 commented on #83
:b:fixed

[2017-10-26 08:52] #83 closed, assigned to nobody

[2017-10-26 22:23] Ovyerus commented on #103
For subcommands or commands that aren't part of the group (designated with `static`), we'll need to return some object so we know all the info about it.

__New Proposal__
[code]

I was thinking of having commands extend `Command`, but I wouldn't know how to allow statics to be a new command, without having two separate classes `ICommand` and `Command`, although I may plan on doing this, we'll have

[2017-10-27 10:48] sr229 commented on #103
@Ovyerus looks good to me, if you like, you can update the spec in ``example/1.x`` if you like that to be out final structure

One little note though, I prefer the the Command system require as a global instead to lessen LoCs

[2017-10-28 06:59] Ovyerus commented on #91
Done majorly in 73ec538

[2017-10-28 06:59] #91 closed, assigned to nobody

[2017-10-28 07:23] Ovyerus commented on #78
Done in 873c8a5, 8be8195, 047e7e5 and 73ec538

[2017-10-28 07:23] #78 closed, assigned to nobody

[2017-10-28 07:44] Ovyerus commented on #90
Fixed sometime, i'm not sure when.

[2017-10-28 07:44] #90 closed, assigned to sr229

[2017-10-28 08:07] #69 closed, assigned to Ovyerus

[2017-10-28 09:10] #85 closed, assigned to sr229

[2017-10-29 09:11] Ovyerus commented on #72
Done in 7772054

[2017-10-29 09:11] #72 closed, assigned to nobody

[2017-10-29 09:11] Ovyerus commented on #80
Fixed in 7772054

[2017-10-29 09:11] #80 closed, assigned to sr229

[2017-11-04 10:10] #118 closed, assigned to sr229

[2017-11-04 10:10] Ovyerus commented on #88
Closing due to negotations

[2017-11-04 10:10] #88 closed, assigned to nobody

[2017-11-04 10:21] Ovyerus opened #121 "Music backend as separate process"
(title sucks I know)

This will be a separate process that acts like a server (using Nodes HTTP lib) and will handle all the fetching for music information and streams, and might even be the general music manager, which caches data and plays them when supposed to (similar to LavaLink I guess).

[2017-11-04 10:40] sr229 commented on #121
@Ovyerus the problem is, how do we execute the seperate process, like the Chatbot server? We relied so much in the init process of the bot

[2017-11-04 10:41] Ovyerus commented on #121
Either on bot init (when the music events get loaded) or having it start separately, like as an extra thing specified in the `pm2.json`, because you can specify multiple programs to run from a process file for pm2.

[2017-11-08 00:03] Ovyerus commented on #115
#92 and #121 both tie into this, as they will be separate processes which are interacted with through HTTP (or some similar protocol).

[2017-11-15 14:15] sr229 opened #123 "Fix AIML incompatibilities"
at the moment, most of the AIML files are not spec-compliant, breaking the parser as we speak.

Still evaluating which files break.

@Ovyerus feel free to drop the list of the files to fix

[2017-12-06 02:13] Ovyerus commented on #123
Closing due to reverting to a Markov string based system.

[2017-12-06 02:13] #123 closed, assigned to sr229

[2017-12-06 02:23] Ovyerus commented on #106
Done in 1ad1fa4

[2017-12-06 02:23] #106 closed, assigned to nobody

[2017-12-06 02:24] Ovyerus commented on #92
Neural network based chatbot is being shifted to 1.0.0. 0.4.X is being left with a Markov string based system for now.

[2017-12-21 12:42] sr229 commented on #92
Re-opened as a milestone for 1.0.0

We can use MonikaDesu/Rebecca for this

[2017-12-21 14:16] Martmists-GH commented on #115
Depending on usage, using a custom protocol would be faster and possibly more reliable

[2017-12-21 15:19] sr229 opened #124 "Married partners are not auto-divorced when said yes to a marriage offer"
Could be a bug since the author cannot marry another person but a third party can marry a person whom has no recorded partner

[2017-12-21 15:20] sr229 opened #125 "Music is broken"
Current ``release`` branch fails to connect to a voice channel

[2017-12-21 15:21] sr229 opened #126 "Ship is returning errors on null strings"
This only happens in 0.4.x - But not in 0.3.x

[2017-12-21 23:53] Ovyerus commented on #124
Should really make it so that you can't propose to already married people.

[2017-12-22 07:36] Ovyerus commented on #126
Fixed in 94c7522

[2017-12-22 07:36] #126 closed, assigned to nobody

[2017-12-22 07:36] Ovyerus commented on #125
Fixed in 574835b. Was a small oversight on my part.

[2017-12-22 07:36] #125 closed, assigned to nobody

[2017-12-22 08:16] Ovyerus commented on #124
Fixed in 9a1607f. Instead you cannot marry already married people.

[2017-12-22 08:16] #124 closed, assigned to nobody

[2017-12-23 06:15] sr229 opened #129 "Music should clear queue when crashed"
Apparently queue isn't cleared when the bot suffers a crash

[2017-12-23 06:16] sr229 opened #130 "Music Clear command does not work"

[2017-12-23 06:17] sr229 opened #131 "Allow Roles that are linked to the ranks command be restricted to a number of persons"

[2017-12-23 06:19] sr229 opened #132 "Skipping a entry before the last entry in music queue on a big list crashes music"
It also skips the last music entry

[2017-12-23 06:21] sr229 opened #133 "Heroku deployment support"
- [x] Clara library should take a environment variable for the redis URL. Preferrably ``REDIS_URL``
- [x] Refine ``app.json`` from Tsuki Git.
- [x] add a mock connection that connects to the ``$PORT`` variable to prevent timing out.

[2017-12-23 06:22] sr229 commented on #133
Since I already did some progress on this one, I'll go ahead add this to my todo

[2017-12-23 06:25] sr229 opened #134 "Scraped Soundcloud key apparently is not being used"
trying to query to SC causes a 401.

[2017-12-23 08:02] sr229 opened #135 "Hide Owner-only commands to non-owners/admins"
This is to ensure the help command only displays what the end user needs to see

[2017-12-24 01:41] Ovyerus commented on #134
It does get used, it worked during my testing.
This probably happened as it's a public key that gets used a lot, and SoundCloud more than likely revoked some of its rights to certain tracks.

[2017-12-24 01:41] #134 closed, assigned to nobody

[2017-12-24 07:27] Ovyerus commented on #135
Already implemented.

[2017-12-24 07:27] #135 closed, assigned to nobody

[2017-12-24 07:34] #133 closed, assigned to sr229

[2017-12-24 07:44] Ovyerus commented on #130
Fixed in 455f139

[2017-12-24 07:44] #130 closed, assigned to nobody

[2017-12-24 08:35] Ovyerus commented on #132
Fixed in 691cf3a

[2017-12-24 08:35] #132 closed, assigned to nobody

[2017-12-24 08:35] Ovyerus commented on #129
What do you mean by this

[2017-12-24 08:36] sr229 commented on #129
@Ovyerus bot suffering from a crash while a music session is in progress will retain the queue

[2017-12-24 08:37] Ovyerus commented on #129
But if the bot crashes, won't everything go down with it?

[2017-12-24 08:41] sr229 commented on #129
I don't know, it seems to retain it after leaving instantly

[2017-12-24 08:42] Ovyerus commented on #129
I guess I'll take a look.

[2017-12-25 16:32] sr229 opened #140 "Names with underscores + Mentions breaks Ship"
![image](https://user-images.githubusercontent.com/14976516/34341525-1e8745a4-e9d4-11e7-920b-d987ec4844ec.png)

Also it seems to break too when someone tries to put two mentions that resolves to the same user

[2017-12-26 01:17] Ovyerus commented on #140
Fixed in 55a6a40

[2017-12-26 01:17] #140 closed, assigned to nobody

[2017-12-27 16:26] sr229 opened #142 "Music Architechtural changes"
the Music system should be overhauled for this minor milestone for now, as a quick remedy for some known issues in the current system

- [x] YouTube queues should be saved into a file to mitigate the stream drops we're experiencing with previous implementations
- [x] Precache queued songs before playing to prevent sudden stream drops. Have a file watcher to examine the cache folder.

[2017-12-28 13:05] sr229 opened #143 "Ship cannot accept non-mentions"
Seems the Ship duplicate checking broke the regular args parsing for it for non-mentions combines

[2017-12-28 13:35] sr229 commented on #143
Fixed by 2fbc8bc7b9aada69a48718f08912ca2205454352, waiting for Deploy from heroku

[2017-12-28 13:48] sr229 commented on #143
Fixed

[2017-12-28 13:48] #143 closed, assigned to sr229

[2017-12-28 14:05] sr229 opened #144 "Double mentions break in ship"
![image](https://user-images.githubusercontent.com/14976516/34412935-2e564428-ec1b-11e7-998c-ff5e036475cd.png)

seems both arg checkers break on spaced nicks/usernames

[2017-12-29 03:32] Ovyerus commented on #144
Issue was misinterpreted. Actually happens with any two pairs of mentions.

Fixed in cf3f88e.

[2017-12-29 07:06] Ovyerus commented on #74
Literally have only experienced on my testing bot, and no where else. Closing for now unless it's reported on one of the main bots.

[2017-12-29 07:14] sr229 commented on #144
Issue persistent, reopened.

[2017-12-29 07:24] Ovyerus commented on #144
Fixed in 6da4f9d.

[2017-12-29 07:24] #144 closed, assigned to nobody

[2017-12-30 05:18] Ovyerus commented on #131
Added in 0d4128a.

[2017-12-30 05:18] #131 closed, assigned to nobody

[2017-12-30 05:22] Ovyerus commented on #129
Just for clarification, is this referring to a complete bot crash, or just a crash within the music module itself?

[2018-01-03 02:28] Ovyerus commented on #142
All current streams (except for Twitch) are now saved to a temp file since `b2211b8`.

Todo: Pre-cache the song directly next in queue for speedy play.

[2018-01-03 03:38] sr229 commented on #142
@Ovyerus I don't think we're chaching YouTube as we are experiencing stream drops

[2018-01-04 14:22] sr229 opened #148 "Microservice Layout"
This is a long-term task we're gonna do for 1.0

- [ ] Split Gateway and the Bot system into independent components
- [ ] use a Cache service to prevent Discord REST spam
- [ ] REST IPC/RPC for the modules

[2018-01-04 14:26] sr229 commented on #148
We're going with some @DasWolke libraries for this one as to not to overengineer the whole bot. We can maxmimize the usage of already-built packages to achieve this

[2018-01-04 14:43] sr229 opened #149 "Heroku Precache"
To circumvent slow startups in Clara, we should precache commands' deps in prebuild time

use ``heroku-prebuild`` field for this

[2018-01-05 06:28] sr229 commented on #74
Persistent. Spotted on Nurse Riko

[2018-01-05 06:48] sr229 commented on #74
Confirming it might be the Youtube Handler's fault and not adding a readiness check

[2018-01-05 07:07] sr229 opened #150 "YouTube handler debt"
apparently the YT handler can be related to #74 since its the only handler that makes the bot stream drop or jump.

[2018-01-06 01:12] sr229 commented on #115
Assigned to Manic Monika. 0.4x maintenance work should now happen in the respective branch

[2018-01-06 01:13] sr229 commented on #142
Confirmed YT does cache but the handler makes it crash.

[2018-01-06 01:24] sr229 opened #151 "Revisit Docker/Kubernetes deployments"
Since we are able to run Clara in Heroku, we might be able to package Clara as a Docker app to be used by everyone.

- [x] OpenShift support
- [x] Canvas base image options. I'm considering Fedora 27 for this
- [x] Dockerfile

[2018-01-06 02:48] sr229 commented on #26
blep

[2018-01-06 03:14] Ovyerus commented on #26
no u

[2018-01-06 04:35] H3xadecimal commented on #26
No u

On Jan 6, 2018 07:14, "Ovy" <notifications@github.com> wrote:

[2018-01-07 05:41] #26 closed

[2018-01-13 09:42] sr229 commented on #151
Clara is officially Dockerized. Closing

[2018-01-13 09:42] #151 closed, assigned to sr229

[2018-01-14 04:02] sr229 opened #156 "Evaluate Lavalink Music Server for Scalability and reliability"
due to the ongoing technical debt with Clara Kizuna deployment, We need to evaluate how Lavalink can help us scale due to the unreliability of the current implementation on YouTube (#150)

[2018-02-05 06:51] Ovyerus commented on #149
Added in 267a473 and 25faeb3.

[2018-02-05 06:51] #149 closed, assigned to sr229

[2018-02-05 06:56] sr229 commented on #74
Confirmed to be caused by YouTube handler, setting to critical

[2018-02-07 02:27] Ovyerus commented on #150
This could potentially be related to abalabahaha/eris#213, as we're using ytdl for YouTube, however that issue relates to *streams*, and this issue has persisted through to us caching music streams to files. Perhaps trying to cache a M4A + AAC stream instead of a WebM + Opus stream could fix the issue?

[2018-02-07 04:18] sr229 commented on #150
@Ovyerus since I've noticed SoundCloud caching are basically MP3 files, this would be more fficient than a native WebM + Opus stream

[2018-02-07 04:19] sr229 commented on #150
Which I mean in context, is M4A + AAC

[2018-02-09 06:39] sr229 opened #159 "New config structure"
Due to the immense ammount of JSON entries in the config, I decided to group them by sub-objects to promote clarity.

**Proposed Model**

[code]

[2018-02-09 09:50] Ovyerus commented on #159
Alternative model, propsed in the Discord server
[code]

[2018-02-10 06:31] sr229 commented on #159
imstead of calling them keys we should call them tokens afaik

[2018-02-10 06:32] Ovyerus commented on #159
👍

[2018-02-17 06:20] sr229 commented on #142
Confirmed fixed because of Library change, Preloading needs to be reimplemented due to library change

[2018-02-17 06:20] #156 closed, assigned to nobody

[2018-02-17 06:20] sr229 commented on #150
YouTube Handler debt complete

[2018-02-17 06:20] #150 closed, assigned to nobody

[2018-02-17 06:21] sr229 commented on #129
Only happens rarely now, marking fixed.

[2018-02-17 06:21] #129 closed, assigned to nobody

[2018-02-17 06:22] sr229 commented on #74
Fixed by library change.

[2018-02-17 06:22] #74 closed, assigned to nobody

[2018-02-17 09:03] Ovyerus commented on #142
Pre-loading of the first item in queues has been added in 6782370, closing.

[2018-02-17 09:03] #142 closed, assigned to nobody

[2018-02-20 09:53] Ovyerus opened #163 "Move to YAML for configs."
Ties in with #159

Moving to YAML would be nicer, as it has comment support, meaning we can properly document the options in the example file. YAML is also backwards compatible with JSON, so this would not break existing configs.

[2018-02-20 11:57] sr229 opened #164 "Pre-flight checks"
To be able for the bot to run properly, pre-flight checks should be done before init-ing the bot.

Pre-flight checks would check for :

- Required Tokens
- Miscellanous tokens, and disable commands that uses those tokens when undefined.

[2018-02-21 09:33] Ovyerus commented on #159
Added in face80f

[2018-02-21 09:33] #159 closed, assigned to sr229

[2018-02-21 09:33] Ovyerus commented on #163
Done in face80f

[2018-02-21 09:33] #163 closed, assigned to Ovyerus

[2018-02-21 09:33] Ovyerus commented on #164
Added in face80f, but only for core settings as the rest are optional(ish),

[2018-02-21 09:39] Ovyerus opened #165 "Allow commands to check if a token exists before being loaded."
This would be added through a new option in a commands `package.json`, and if the token(s) don't exist or are empty, the command will not get loaded.

**Example**
[code]

This is tied into the new config structure, which has made it possible to list all third-party tokens.

[2018-02-21 10:07] Ovyerus commented on #165
Added in f1cf59c

[2018-02-21 10:07] #165 closed, assigned to Ovyerus

[2018-02-21 23:54] sr229 commented on #164
Re-opening as pre-flight should extend loading everything before connecting to Discord

[2018-02-21 23:54] sr229 commented on #164
Extending it a little :

- Check connection for redis
- Validate configuration if it exists
- lazy-load all events and modules then connect to Discord

[2018-02-22 06:37] sr229 opened #166 "Sharding is broken"
Looks like Sharding is broken because we get an error when we try to shard to 2 or more, probably because we're not reporting the correct shard IDs.

[2018-02-22 11:20] sr229 opened #167 "Change command manifest names"
In order to reduce ambiguity, we should rename the command dependency declarations.

We agreed that we would use `command.json` for the commands' manifests.

[2018-02-23 07:43] sr229 opened #168 "Expermintal features"
To be able to test features without compromising our release schedule, I'm introducing a risk-free way to test experimental commands.

### How it works:

- Any command that is tagged ``experimental`` on its object won't be able to be loaded by `CommandHandler` until it satisfies either of these two conditions:
        -  command has no ``experimental`` property in its Object.
        - ``NODE_ENV`

[2018-02-23 08:36] sr229 commented on #167
All done, ported everything on eeb937e97944c076468975b19d8c1d908a8dcda3

[2018-02-23 08:36] #167 closed, assigned to sr229

[2018-03-07 03:21] sr229 opened #170 "Clara as a Library"
``lib/`` itself is a whole library on its own. We can start making this part agnostic of platform.

### TODO:

- [ ] Remove some hardcoded parts and make them be defined from declaration only.
- [ ] redo some modules that relies on hardcoded stuff.

The library approach is easy since we just need to update the Library than maintaining a whole bot base.

[2018-03-31 10:17] Ovyerus commented on #92
TensorFlow now has an official JavaScript wrapper, and so this'll now be done in Node.
(https://js.tensorflow.org/)

[2018-03-31 10:21] sr229 commented on #92
Set to 0.4.4 => Pending feature parity with MonikaBot

[2018-04-07 09:16] sr229 opened #171 "Modular Clara"
Based on what we discussed on Discord.

### Structure

Clara would be seperated and published as npm packages in the `@clara` scope. This would allow everyone to create their own bot using a unopinonated module set.

- Modules should be interdependent and independent.
- Clara Modules must not regress when decoupled out, and would only regress when decoupled without proper redoing of the code on th

[2018-04-07 09:17] sr229 commented on #148
Replaced by #171

[2018-04-07 09:17] #148 closed, assigned to nobody